body{
  background: #293f50;
  color: #888;
}

.logo{
  border-top: 4px solid #648880;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}
header{
  height: 40px;
}
.group{
  /*float 좌우로 없앰*/
  clear: both;
}
.container{
  padding-left: 30px;
  padding-right: 30px;
}
h1{
  font-size: 36px;
  line-height: 44px;
}

.primary-header a, .primary-footer a{
  color: #fff;
}

.tagline{
  margin: 66px 0 22px 0;
  text-align: right;
  width: 450px;
  float: right;
}
.primary-nav{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.nav{
  text-align: right;
  float: right;
}

ol,ul{
  list-style: none;
}
ul{
  display: block;
}
.nav li{
  display: inline-block;
  margin: 0 10px;
  /*display를 inline-block으로 하고 수직 정렬 방법임*/
  vertical-align: top;

}

.primary-footer{
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}

.primary-footer small{
  float: left;
  font-weight: 400;
}
