.container{
  padding-left: 30px;
  padding-right: 30px;
}
.group{
  /*float 오른쪽 왼쪽 제거*/
  clear: both;
}
.container, .grid{
  margin: 0 auto;
  width: 960px;
}

.logo{
  border-top: 4px solid #648880;
  /*왼쪽으로 배치 */
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  /*uppercase 모든 글자를 대문자로 바꿈*/
  text-transform: uppercase;
}

.tagline{
  margin: 66px 90px 22px 0;
  text-align: right;
}
.a{
  padding-top: 15px;
  width: auto;
}
.nav{
  text-align: right;
}
.primary-nav{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  display: inline;
}
