.why-attend{
  list-style: square;
  margin: 0 0 22px 30px;
}

form{
  margin-bottom: 22px;
}
.register-group label{
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}
.register-group input, .register-group textarea, .register-group select{
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.register-group select{
  height: 34px;
  width: 60px;
}

.register-group textarea{
  height: 78px;
}

.btn-default{
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}
.btn{
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
