html{
  scroll-behavior: smooth;
}


body{
  background: #eee;
  line-height: 1.5;
}
.navbar{
  display: flex;
}
.nav-header{
  justify-content: flex-end;
  margin-top: 10px;
}
a{
  text-decoration: none;
  color: black;
}
.navbar h1{
  font-size: 2rem;

}
.navbar a{
  margin: 1rem;
  /* 어떻게 h1글자는 왼쪽 a는 오른쪽으로 할까? */
}

.header{
  text-align: center;
  height: 10rem;
  font-weight: bold;
  padding-top: 1.5rem;
}
.header h2{
  font-size: 1.5rem;
}
.header input{
  margin: 1rem;
  width: 300px;;
  height: 25px;;
}
.header a{
  background: yellow;

  /* a태그 크기 조절 방법 */
  /* display: inline-inline-block;하고 width heigth로 조절 */
  display: inline-block;
  width: 200px;
  height: 30px;
  padding-top: 2px;


}
#features{
  margin:2rem 14rem; /*중앙 정렬인것처럼 보이지만 글은 왼쪽에서 시작함*/

}
#features h2{
  font-weight: bold;
  font-size: 1.5rem;
}
#features div{
  margin: 3rem 0;
}

#how{
  text-align: center;
}

.grid{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;

}
.item{
  border: 1.5px solid #000;
  margin: 10px;
  width: 20%;
  height: 20rem;
  text-align: center;
}

#pricing h3{
  background: lightgray;
  font-weight: bold;
  height: 2.5rem;
  padding-top: 15px;
}
#pricing p{
  padding: 0.5rem 0;
}
.price{
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem;
}
#pricing a{
  background: yellow;
  display: inline-block;
  width: 4rem;
  height: 1.5rem;
  margin: 2.5rem 0;
}




/* footer start */
footer{
  background: white;
  width: 70%;
  margin: 0 15%;
  height: 5rem;
  text-align: right;

}
footer a{
  margin-right: 1rem;
}
