body{
  font-family: 'Anaheim';
  font-size: 1.2em;
}

#outside{
  background-color: lightgoldenrodyellow;
  padding-top: 25px;
  padding-bottom: 25px;
}
h1{
  font-size: 1.5em;
  text-align: center;

  /* 시작하는 단어 모두 대문자로 */
  text-transform: capitalize;
}
form{
  margin:0 auto;
  width: 70%;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;

  background-color: white;
}

fieldset{
  border: 1px solid lightgray;
  margin: 10px;
}
legend{
  font-weight: 700;
}
#number{
  width: 150px;
}

div+div{
  margin-top: 1em;
}

button{
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  margin: .5em;
  font-size: 1em;
  border-radius: 2px;
}


#submitbutton{
  display: flex;
  justify-content: center;
}
