body{
  background: #eee;
  text-align: center;
  height: auto;
  margin: 0;
}
.center{
  background: #fff;
  max-width: 900px;

  /* center 배경을 중앙으로 배치 */
  margin:auto;
}
.title{
  display: block;
  /* flex: 0 1 40vw; */
  height: 50vh;
  padding-left: 7rem;
  padding-right: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.landing-image{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  margin: 0;
  float: right;
  width: 50vh;
  padding-left: 135px;
}
a{
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 20px;
  color: #333;
  display: inline-block;
  font-size: 15px;
  padding: 10px 30px;
}
.our{
  background: #333;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.our h2{
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media(min-width : 500px){
  .view{
    display: flex;
    height: 100vh;
  }
  .title{
    height: 100vh;
    padding-top: 30%;
  }

  .landing-image{
    height: 100vh;
  }
}
