#container{
  margin-left: auto;
  margin-right: auto;
}

#header{
  width:950px;
  height:550px;
  background-color:ghostwhite;
  background-image: url(http://www.hdwallpapers.in/walls/steve_jobs-wide.jpg);
  background-size:cover;
  margin-left: auto;
  margin-right: auto;
}
#quote-1{
  margin-top: 35px;
  margin-bottom: 40px;
}
#text{
  text-align: center;
  font-size:20px;
  font-family:'Pacifico',cursive;
}
.subsection-header{
  font-size: 50px;
  font-weight: bold;
  color:#ececec;
  line-height: 120px;
  padding-left: 250px;

}

.event-date{
  border-top: 2px solid #ccc;
}


.event-date-first-child{
  border-top: 1px solid #ccc;
}
/*#main-content{
  position:relative;
  float: left;
  position: relative;
  height: auto;
} */
#main-content{
  float: left;
  width: 70%;
  position: relative;
}

#side-content{
  float:right;
  position:relative;
  width: 25%;
  padding-right: 70px;

}

table#main-info th{
  border-top: 2px solid gray;
  width: 150px;
}
table#main-info td{
  border-top: 1px solid gray;
  background-color: skyblue;
  width:auto;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

}
#td-bottom{
    border-bottom: 1px solid gray;

}

#nutshell{
  font-weight: bolid;
  font-size: 30px;
}


table.info td{
  border-bottom: 1px solid gray;
  width: 250px;
  padding-left: 15px;

}

#footer{
  clear: both;
  padding-top: 40px;
}
#quote{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: gray;
  text-align: center;
}
